.mainBody{
    width: 70%;
    height: auto;
}
.upperMain{
    
    width: 100%;
    display: inline-block;
    height: auto;
    padding: 3%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.post-inp{
    width: 100%;
    height: auto;
    padding: 2%;
    font-size: 18px;
    color: black;
    /* border: var(--border) solid 1px; */
}
button{
    width: auto;
    padding: 2%;
    margin-top: 2%;
    font-size: 18px;
    background-color: var(--main-color);
    color: white;
    border: transparent;
}
button:hover{
    background-color: #b1c1c9;
    color: black;
    cursor: pointer;
}
.mainCont{
    width: 100%;
    padding: 3%;
    margin-top: 3%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.rachelSine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1 px solid var();
}
.imgProfile{
    width: 70px;
    border-radius: 50%;
}
.sine{
    width: 40%;
}
.images{
    display: flex;
    align-items: center;

    
}
.timing{
    color: grey;
}
.nameInBox{
    font-size: 25px;
    padding: 0 10px;
}

.timing{
    padding-bottom: 50px;
}
.containerbox{
    margin-bottom: 30px;
}
hr{
    margin-bottom: 20px;
}
.imagesInContainer img{
    width: 48%;
}
.imagesInContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.dev{
    width: 100%;
    margin: 2% 0;
}
p{
    font-size: larger;
    font-weight: light;
}

@media only screen and (max-width:650px){
main{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.mainBody{
    padding-top:340%;
    margin: 30px auto;
}



}